.theme-toggle {
    position: fixed;
    left: 16px;
    bottom: 16px;
    z-index: 1000;
  }
  
.theme-toggle button {
transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
}

.theme-toggle button:active {
transform: scale(0.95);
}

/* base button */
.ui-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    color: #1a1a1a;
    cursor: pointer;
    text-align: center;
    margin: 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  }
  
  /* hover */
  .ui-button:hover {
    border-color: #646cff;
  }
  
  /* focus */
  .ui-button:focus,
  .ui-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  /* dark theme support */
  html.dark .ui-button {
    background-color: #1a1a1a;
    color: white;
  }
  
.link-bar {
  width: 100%;
  max-width: 400px;
  align-items: center;    

  padding: 1.0em 1.2em;
  margin: 10px;
  margin-left: -15px;
  font-size: 1em;
  font-family: inherit;

  border-radius: 8px;
  border: 1px solid;
  background-color: white;
  border-color: whitesmoke;
  color: #1a1a1a;

    transition:
      border-color 0.25s ease,
      background-color 0.25s ease,
      color 0.25s ease,
      opacity 0.2s ease,
      transform 0.2s ease;
}

html.dark .link-bar {
  background-color: #1a1a1a;
  border-color: black;
  color:whitesmoke;
}

/* container */
.link-bar-wrapper {
  position: relative;
  width: 100%;
  max-width: 420px;
}

/* input */
.link-bar-input {
  width: 100%;
  padding: 0.6em 2.5em 0.6em 0.9em; /* right space for icon */
  font-size: 1em;
  font-family: inherit;

  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: white;
  color: #111827;

  transition:
    border-color 0.25s ease,
    background-color 0.25s ease,
    color 0.25s ease;
}

.link-bar-input:focus {
  border-color: #646cff;
}

/* dark mode */
html.dark .link-bar-input {
  background-color: #e5e7eb;
  border-color: black;
  color: #e5e7eb;
}

/* animation layer */
.link-bar-wrapper {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.link-bar-wrapper.hidden {
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
}

.link-bar-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

/* content layer (no clipping) */
.link-bar-inner {
  overflow: visible;
}

/*Link Bar paste button*/
.link-bar-clipboard {
  size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  cursor: pointer;
  color: #1a1a1a;

  transition: 
    background-color 0.25s ease,
    color 0.25s ease;
}

.link-bar-clipboard:hover {
  color:black;
}

html.dark .link-bar-clipboard {
  background-color: #1a1a1a;
  color: whitesmoke;
}